
{% extends 'flatpages/default.html' %}
{% load censor %}
{% load censor custom_tags%}

{% block title %}
Posts
{% endblock title %}


{% block content %}
{% if is_not_authors %}
<button> <a href="{% url 'sign:upgrade'%}"> стать автором!</a> </button>
{% endif %}
<form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
<h1>Все статьи {{posts|length}}</h1>
{% for post in posts %}
<p><a href="{% url 'authors:post' pk=post.pk %}">{{ post.title|my_censor }}</a>
{% if post.type == 'A' %}
    <a href="{% url 'authors:article-edit' pk=post.pk %}">Edit</a>
    <a href="{% url 'authors:article-delete' pk=post.pk %}">Delete</a>
{% else %}
    <a href="{% url 'authors:news-edit' pk=post.pk %}">Edit</a>
    <a href="{% url 'authors:news-delete' pk=post.pk %}">Delete</a>
{% endif %}

    </p>
<br> {{post.created_at|date:'d M Y'}} <br> {{ post.text|truncatechars:20|my_censor }}

<hr>
{% endfor %}
{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}